.formControl.error input,
.formControl.error textarea {
  border: solid red 1px;
}

.formControl.error span {
  color: red;
}

.formSummaryError {
  border: red solid 1px;
  padding: 5px;
  color: orange;
}