.app-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-areas:
  "h h"
  "n c ";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  
}

.nav {
  grid-area: n;
  background-color: yellow;
}

.header {
  grid-area: h;
  background-color: red;
}

.header img {
  width: 40px;
}

.content {
  grid-area: c;
  background-color: green;
}