.app-wrapper {
  display: grid;
  margin: 0 auto;
  grid-template-areas:
  "h h"
  "n c ";
  /* grid-template-rows: 0.1fr 1fr; */
  grid-template-columns: 15% 85%;
  grid-gap: 10px;
  background-color: rgb(238, 238, 238);
}

.app-wrapper-content {
  grid-area: c;
  background-color: rgb(238, 238, 238);
}

