.dialogs {
	display: grid;
	grid-template-columns: 2fr 10fr;
}

.dialogsItems {
	padding: 20px;
}

.dialog{
	margin-bottom: 50px;
	text-align: center;
}

.dialogs a {
	text-decoration: none;
	color: black;
}


.dialog img {
	border-radius: 50%;
	width: 80px;
	height: 80px;
}

.messages{
	padding: 25px;
	border-left: 2px solid grey;
}

.message {
	border: 1px solid grey;
	border-radius: 5px;
	margin-top: 20px;
	padding: 20px;
	background-color: white;
}

.textareaMessage {
	border-radius: 10px;
	margin-top: 15px;
	margin-left: 100px;
	width: 550px;
	height: 40px;
	padding: 20px;
}

.sendMessageButton {
	margin-left: 100px;
	margin-top: 10px;
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
}