.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 20px;
}

.dialog{
    margin-bottom: 50px;
    text-align: center;
}

.dialogs a {
    text-decoration: none;
    color: black;
}


.dialog img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.messages{
    padding: 25px;
    border-left: 2px solid grey;

}

.message {
    border: 1px solid grey;
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px;
    background-color: white;
}
